<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th=" http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navbar::navbar">Navbar</div>
<div class="container-fluid">
    <div th:if="${message != null}" th:text="${message}">Message</div>
    <h1>Person</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.surname}"></td>
            <!--<td><a th:href="@{/addresses/delete/} + ${address.id} + ''">Delete</a></td>-->
        </tr>
    </table>


    <a href="/persons/new" class="btn btn-link">New person</a>
</div>
</body>
</html>